.headerContainer{
  width: 110px;
  z-index: 100;
  margin: 30px 30px;
}

.headerIcon1{
  position: relative;
  top: 22px;
  left: 0px;
}

.headerIcon2{
  position: relative;
  top: -25px;
  left: 300px;
}