.mainContainer {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100svh;
  width: 100%;
}
.overlay{
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  width:82px;
  height:46px;
  margin-top: 56px;
  margin-right: 15rem;
  z-index: 100;
}
.circlesContainer{
  display: flex;
  align-items:center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  min-height: 260px;
  max-height: 500px;
}

.circlesContainer > img{
  object-fit: cover;
  object-position: center;  
}

.text{
  flex-direction: column;
  position: relative;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  display: flex;
  text-align: left;
  width: 297px;
  height: 113px;
  z-index: 1;
  /* margin-top: 3.2rem; */
  margin-bottom: 2rem;
}

.text p{
  font-size: 15px; 
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 10px;
  font-size: 15px;
}

.text span{
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 700;
}



.buttonContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vh;
}
.button{
  width: 312px;
  height: 69px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 12px 24px;
  border:none;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.01em;
}