.mainContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
   /*  width: 100vw; */
   width: 100%;
    height: 100%;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContent h1{
    margin-bottom: 24px;
    margin-top: 100px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #000;
}
.mainContent p{
    text-align: center;
    margin: 0px 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #8A8992;
}
.buttons button{
    border: none;
}
.buttons .button1{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000;
    margin-top:100px;
    color: #ffff;
    width: 312px;
    height: 69px;
}
.buttons .button2{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(203, 196, 151, 1);
    margin-top: 13px;
    width: 312px;
    height: 69px;
}
.button1 p{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #ffff;

}
.button2 p{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 1);
    margin: 23px 0;
}
.buttons input{
   position: absolute;
   margin-top: 20px;
   padding:130px ;
   opacity: 0; 
}
.errorMsg{
    display:inline-block;
    text-align: center;
    color:#D30000;
    font-size: 20px;
    margin-top: 10px;
}
.viewBox{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #006400;
    margin-top: 30px;
    font-size: 20px;
    margin-top: 60px;
}
.halfCircle {
   position: absolute;
   width: 59px;
   height: 118px;
   top: 176px;
   left: 0;

}
